:root
{
    --canvas-shadow:            0px 0px 4px black;

}

body 
{
  margin: 0;
  padding: 1em;
  display : flex;
  width: 100vw;
  height : 100dvh;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #EEE;
}


canvas 
{
    display:  block;
    box-shadow: var(--canvas-shadow);
    border-radius: 4px;
}
